@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

$col1: #0dbf73;
$col2: #292945;
$col3: #fc4aba;

* {
  box-sizing: border-box;
}

html {
  background-color: $col2;
  font-family: 'Roboto', sans-serif;
}

// logo ••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••
#logo {
  width: 200px;
  margin-bottom: 20px;
}

// tabs styling ••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••
.header-bar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: #c7c7c7;
}

div.header-bar * {
  padding: 20px;
}

.active-tab {
  background-color: $col3;
  color: white;
}

.active-form {
  border: 3px solid $col3;
  border-radius: 5px;
  // height: 90vh;
}

#success-tab {
  background-color: $col1;
  color: white;
}
//••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••
// page 1 form styling •••••••••••••••••••••••••••••••••••••••••••••••••••••••••
.wrapper {
  // height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow:auto;
  align-items: center;
}

.form-wrapper {
  width: 600px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 30px;
  background-color: #fafafa;
}
form {
  padding: 20px;
  height: 100%;
}

.form-field label {
  margin: 10px 0px 8px 0px;
}

.form-field input {
  padding: 10px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #cfcfcf;
  font-family: inherit;
  font-size: inherit;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 100%;
}

.error-text {
  color: red;
  margin-top: 5px;
  padding-left: 10px;
}

input.error {
  border: 2px solid red;
}

// •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••


// button styling ••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••
.submit button {
  background-color: $col1;
  color: #fff;
  border-radius: 6px;
  width: 40%;
  margin-top: 8px;
  float: right;
  padding: 5px 0px;
  font-family: inherit;
  font-size: inherit;
}

.back button {
  background-color: $col2;
  float: left;
  color: #fff;
  border-radius: 6px;
  width: 40%;
  margin-top: 8px;
  padding: 5px 0px;
  font-family: inherit;
  font-size: inherit;
}

button:hover {
  cursor: pointer;
}
// •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••
// Privacy page styling ••••••••••••••••••••••••••••••••••••••••••••••••••••••••
.checkbox-area {
  display: flex;
  align-items: center;
}
label.checkbox-label {
  display: inline-block;
  margin: 20px;
}



// •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••
// Success page styling ••••••••••••••••••••••••••••••••••••••••••••••••••••••••
.success-container {
  // padding-left: 17px;
  // padding-top: 23%;
  border: 3px solid $col1;
  border-radius: 5px;
  height: 100%;
}

#tick {
  display: block;
  // margin-left: auto;
  // margin-right: auto;
  margin: 30px auto 0 auto;
  width: 100px;
  height: 100px;
}

#success-text {
  color: $col1;
  padding: 20px;
  margin: 0;
}
// •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••

// media queries ***************************************************************

// Device = Low Resolution Tablets, Mobiles (Landscape) // Screen = B/w 481px to 767px
@media (min-width: 481px) and (max-width: 767px) {
  .form-wrapper {
    width: 90vw;
    padding: 20px 20px;
  }
}

// Device = Most of the Smartphones Mobiles (Portrait) // Screen = B/w 320px to 479px
@media (min-width: 320px) and (max-width: 480px) {
  #logo {
    width: 150px;
    margin-bottom: 10px;
  }

  div.header-bar * {
    padding: 9px;
    min-height: 34px;
  }

  .form-wrapper {
    width: 90vw;
    padding: 20px 20px;
  }

  .form-field label {
    margin: 5px 0px 8px 0px;
  }

  .form-field input {
    padding: 6px 6px;
  }

  #tick {
    width: 60px;
    height: 60px;
  }

  label.checkbox-label {
    display: inline-block;
    margin: 10px 5px 10px 5px;
  }

  .header-bar {
    min-height: 40px;
  }

  input[type=checkbox] {
      height: 13px;
      min-height: 13px;
      min-width: 13px;
      width: 13px;
  }


}
